<%- include('../includes/head.ejs') %>

    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <main>

                <% if(errorMessage){ %>

                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% }%>


                        <link rel="stylesheet" href="../css/login.css">

                        <div class="login">
                            <h1 class="login__title">Password Update</h1>

                            <form class="login__form" action="/new-password" method="POST">
                                <div>
                                    <label class="login__label" for="password">Password:</label>
                                    <input class="login__input" type="password" id="password" name="password">
                                </div>



                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn--login" type="submit">Update Password</button>
                            </form>
                        </div>
            </main>

            <!-- Add other scripts or footer content as needed -->
            <%- include('../includes/end.ejs') %>
    </body>

    </html>
